*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
  }

  body{
    background-image: url('./circle-scatter-haikei.svg');
    color: #FFA500;
    font-family: 'Roboto Slab', serif;
}
  nav {
    background-color: #FFA500;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    margin-bottom: 20px;
    transition: 1s ease-in-out;
  }
  /*nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  */
  nav li {
    margin-left: 30px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    height: 100%;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
  }
  .nav-2{
    background-color: #FFA500;
  }
  .a-2{
    color: #fff;
  }
  
  nav a:hover {
    border: 1px #fff solid ;
  }
  .logo-link:hover{
  border: none;
}
  .logo img {
    min-height: 40px;
    max-width: 160px;
  }
  section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    min-height: 600px;
    padding: 100px 8vw;
    z-index: 995;
  }

  .canvas-img{
    display: flex;
  }
  .canvas-img img{
    height: 283px;
    width: 540px;
    margin: 5px
  }
  @media (max-width: 600px){
    .canvas-img{
      flex-direction: column;
    }
    nav li{
      margin-left: 50px;
    }
  }